# Gradle
.gradle/
build/
**/build/
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Local config
local.properties

# OS junk
.DS_Store

# Captures
/captures
